* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  background: url("/images/board_background.jpg");
}

#board-canvas {
  padding: 10px 0 10px 0;
}

.board-container {
  width: 800px;
  margin: 10px auto 0 auto;
}

.board {
  margin: 10px 0;
}

.player-line {
  margin: 12px 0 0px 37px;
  font-size: 23px;
  color: #333333;
  display: inline-block;
  border-radius: 3px;
  color: black;
}

.left {
  float: left;
  width: calc(100% - 500px);
}

.right {
  float: right;
  padding: 0 15px 0 0;
}

.actions {
  margin: 15px 0 0 0;
  .mdl-button {
    margin: 0 10px 0 0;
  }

}

.hive-card-wide {
  margin: 15px 0 0 0;
  width: 485px;
  min-height: 100px;
}